body {
    margin: 0;
    background-image: 
      url('../Images/directions/directions_bg.png');
    background-repeat: no-repeat;
    background-size: min(600vw, 560px) 983px;
    /* background-size: min(600vw, 660px) auto; */
    background-position: top center;
    background-color: #000000;
    padding-bottom: 140px;
}
.page_directions{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
}


.map-image{
    padding: 30px;
}
.map-image-img{
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    justify-content: center; /* 수평 가운데 */
}
@media (min-width: 768px) {
  .art-image-img {
    max-width: var(--container-max); 
    margin: 0 auto;                  /* 가운데 정렬 */
  }
}

.directions-container{    
  max-width: var(--container-max);
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

/* 경로 설명 */
.directions-explain{ 
    position: relative; 
    padding: 30px;
}
.directions-explain-text{
    position: static;
    display: block;
    text-align: left;
    color: #fff;          
    z-index: 2;     
    
    max-width: min(100%, var(--container-max, 660px));
    margin: 0 auto;      
}
.directions-explain-text h1{
    font-size: 1.0rem;
    font-weight: 300;
}

.page-bottom{ 
    margin-top: 100px;
}