body {
  margin: 0;
  background-image: 
    url('../Images/schedule/schedule_bg.png');
  background-repeat: no-repeat;
  background-size: min(600vw, 540px) auto;
  background-position: top center;
  background-color: #000000;
  padding-bottom: calc(var(--bottom-h, 64px) + env(safe-area-inset-bottom));
  /* padding-bottom: 140px; */
}
.page_schedule{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
}

.page-before-btn-text h1 {
  color: #7a7a7a;
}

.lang-dropdown select{
  padding: 8px 32px 8px 12px;
  border: 1px solid transparent;
  /*border-radius: 8px;*/
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #7a7a7a;
  font-size: 1.1rem;
  
  background-image: url('../Images/schedule/lang_arrow_icon.png');
  background-repeat: no-repeat;
  background-position: right 10px center;  /* 오른쪽 안쪽에 배치 */
  background-size: 14px auto;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* 시간표 */
.schedule{
    position: relative; 
    height: auto; 
    margin: 24px auto;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  align-items: flex-start;
}
.schedule-explain-name
{
  width: 100%;
  max-width: 660px; 
  margin: 0 auto;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.schedule-explain{
  width: 100%;
  max-width: 660px; 
  margin: 0 auto;
}

.schedule-explain-img{
    display: block;
    width: 223px;
    height: 67px;
    object-fit: contain;
    justify-content: center;
    margin: 0 auto;
    transform: translate(-50px);
}

.schedule-info-image{
  width: 100%;
  max-width: 660px; 
  margin: 0 auto;
}

.schedule-info-image-img{
    display: block;
    width: 327px;
    height: 179px;
    /* object-fit: contain; */
    /*justify-content: center;*/
    margin: 0 auto;
    margin-bottom: 30px;
    /* transform: translate(-50px); */
}
.schedule-explain h1{
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  height: 10px;
}
.schedule-explain-name{
  margin-left: 20px;
}
.schedule-explain-sub {
  display: grid;
  /* grid-template-columns: 75px 20px 300px;  */
  grid-template-columns: minmax(60px, 28%) 20px minmax(0, 1fr);
  align-items: center;
  width: 100%;                       /* 고정하고 싶으면 */
  max-width: 660px; 
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.schedule-explain-sub .row {
  display: contents;  /* ← 각 row가 위의 3열 그리드를 같이 쓰게 함 */
}

.schedule-explain-sub-left {
  text-align: right;  
  margin-left: 5px;
}

.schedule-explain-sub-right {
  text-align: left;
  margin-left: 5px;
}

.schedule-explain-sub-icon {
  width: 5px;
  height: 15px;
  object-fit: contain;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

.schedule-info{
  width: min(80%, 480px);
  min-width: 300px;
  max-width: 480px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: var(--left, 100px) 1fr var(--right, 100px);
  align-items: center;
  column-gap: 8px;  
}
.schedule-info h1{
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
}
.schedule-num {
  text-align: center;
  width: 30px;
  margin-left: 40px;
}

.schedule-name {
  text-align: center;
  max-width: 300px;
  word-break: break-all;
}

.schedule-time {
  text-align: center;
  width: 100px;
  margin-right: 12px;
}
.schedule-logo{
    margin: 20px auto 12px;
}
.schedule-line-img{
    width: min(100%, 480px);
    height: 3px;
    display: flex;
    object-fit: cover;
    justify-content: center; /* 수평 가운데 */
    margin: 0 auto;
}
.schedule-division-line{
  width: 100%;
  max-width: var(--container-max);
    margin: 20px auto;
}
.schedule-division-line-img{
    width: 100%;
    height: 3px;
    display: flex;
    object-fit: cover;
    justify-content: center; /* 수평 가운데 */
    margin: 0 auto;
}
/* 로고 */
.schedule-logo{
    padding: 30px;
}
.schedule-logo-img{
    width: 108px;
    height: 85px;
    display: flex;
    object-fit: cover;
    justify-content: center; /* 수평 가운데 */
}
@media (min-width: 768px) {
  .schedule-logo-img {
    max-width: var(--container-max); 
    margin: 0 auto;                  /* 가운데 정렬 */
  }
}